<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" href="__CSS__/style.css" />
    <script src="__JS__/jquery-3.7.1.min.js"></script>
    <script src="__JS__/bootstrap.bundle.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container pt-5 mt-5">
      <div class="row align-items-center">
        <div class="col-2 sidebar">
          <button class="btn btn-secondary">用户管理</button>
          <button class="btn btn-secondary">喜好管理</button>
          <button class="btn btn-secondary">书籍管理</button>
          <button class="btn btn-secondary">角色管理</button>
          <button class="btn btn-secondary">权限管理</button>
        </div>
        <div class="col-10 main">
          <!-- 添加用户表单 -->
          <form action="{:url('/user')}" method="post">
            <fieldset class="w-75">
              <div class="mb-3 row">
                <label for="username" class="col-2 col-form-label"
                  >用户名：</label
                >
                <div class="col-8">
                  <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="请输入用户名"
                    class="form-control"
                  />
                </div>
                <span class="col-2 text-danger col-form-label">*</span>
              </div>
              <div class="mb-3 row">
                <label for="password" class="col-2 col-form-label"
                  >密码：</label
                >
                <div class="col-8">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="请输入密码"
                    class="form-control"
                  />
                </div>
                <span class="col-2 text-danger col-form-label">*</span>
              </div>
              <div class="mb-3 row">
                <label for="repassword" class="col-2 col-form-label"
                  >密码确认：</label
                >
                <div class="col-8">
                  <input
                    type="password"
                    id="repassword"
                    name="repassword"
                    placeholder="请再次输入密码"
                    class="form-control"
                  />
                </div>
                <span class="col-2 text-danger col-form-label">*</span>
              </div>
              <div class="mb-3 row">
                <label for="email" class="col-2 col-form-label"
                  >电子邮件：</label
                >
                <div class="col-8">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="请输入电子邮件"
                    class="form-control"
                  />
                </div>
                <span class="col-2 text-danger col-form-label">*</span>
              </div>
              <div class="mb-3 row">
                <label for="username" class="col-2 col-form-label"
                  >性别：</label
                >
                <div class="col-8">
                  <label for="man" class="col-2 col-form-label">
                    <input
                      type="radio"
                      id="man"
                      name="gender"
                      value="1"
                      checked
                    />
                    男
                  </label>
                  <label for="women" class="col-2 col-form-label">
                    <input type="radio" id="women" name="gender" value="2" />
                    女
                  </label>
                </div>
                <span class="col-2 text-danger col-form-label">*</span>
              </div>
              <div class="mb-3 row">
                <label for="agree" class="col-2 col-form-label-sm"></label>
                <div class="col-6">
                  <label for="agree" class="col-form-label-sm">
                    <input type="checkbox" id="agree" name="agree" />
                    我已经阅读并理解协议~
                  </label>
                </div>
                <div class="col-2" style="text-align: right">
                  <a class="col-form-label-sm" href="{:url('/user')}"
                    >返回列表</a
                  >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="" class="col-2 col-form-label"></label>
                <div class="col-8">
                  <button class="btn btn-success w-100">添加用户</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
