<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" href="__CSS__/style.css" />
    <script src="__JS__/jquery-3.7.1.min.js"></script>
    <script src="__JS__/bootstrap.bundle.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container pt-5 mt-5">
      <div class="row">
        <div class="col-3">
          <button class="btn btn-secondary">用户管理</button>
        </div>
        <div class="col-9">
          <table class="table table-bordered">
            <thead class="bg-light">
              <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
